language: go

go:
 - 1.4

install:
  - curl -o cadvisor-0.14.0.zip https://codeload.github.com/google/cadvisor/zip/0.14.0
  - unzip cadvisor-0.14.0.zip >/dev/null
  - mkdir -p "$GOPATH/src/github.com/google"
  - mv cadvisor-0.14.0 "$GOPATH/src/github.com/google/cadvisor"
  - export GOPATH="$GOPATH:$GOPATH/src/github.com/google/cadvisor/Godeps/_workspace"
  - echo $GOPATH
  - xargs go get -v -u < .go.dep

script:
 - go test -v ./...
