language: go

go:
 - 1.4

install:
  - go get -u github.com/c-fs/Jerasure
  - go get -u github.com/BurntSushi/toml
  - go get -u github.com/qiniu/log
  - go get -u github.com/spf13/cobra
  - go get -u golang.org/x/net/context
  - go get -u github.com/codahale/metrics
  - go get -u google.golang.org/grpc
  - curl -o cadvisor-0.16.0.1.zip https://codeload.github.com/google/cadvisor/zip/0.16.0.1
  - unzip cadvisor-0.16.0.1.zip >/dev/null
  - mkdir -p "$GOPATH/src/github.com/google"
  - mv cadvisor-0.16.0.1 "$GOPATH/src/github.com/google/cadvisor"
  - export GOPATH="$GOPATH:$GOPATH/src/github.com/google/cadvisor/Godeps/_workspace"

script:
 - make test
